@font-face {
    font-family: 'Airbnb Cereal Bold';
    src: url('AirbnbCereal_W_Bd.otf') format('opentype');
}
@font-face {
    font-family: 'Airbnb Cereal Regular';
    src: url('AirbnbCereal_W_Bk.otf') format('opentype');
}
@font-face {
    font-family: 'Airbnb Cereal Extrablack';
    src: url('AirbnbCereal_W_Blk.otf') format('opentype');
}
@font-face {
    font-family: 'Airbnb Cereal Light';
    src: url('AirbnbCereal_W_Lt.otf') format('opentype');
}
@font-face {
    font-family: 'Airbnb Cereal Medium';
    src: url('AirbnbCereal_W_Md.otf') format('opentype');
}
@font-face {
    font-family: 'Airbnb Cereal Extrabold';
    src: url('AirbnbCereal_W_XBd.otf') format('opentype');
}
body{
    margin: 0;
}
h1 {
    color: rgb(34, 34, 34);
    font-family: 'Airbnb Cereal Medium';
    font-size: 14px;
    padding: 0px;
    height: auto;
}
h2 {
    color: rgb(103, 103, 103);
    font-family: 'Airbnb Cereal Regular';
    font-size: 14px;
}
h3 {
    color: rgb(34, 34, 34);
    font-family: 'Airbnb Cereal Medium';
    font-size: 15px;
}
.caja01 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.caja02 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.container {
    display:flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.container02 {
    display:flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.box01 {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.box01FIN {
    display: flex;
    align-items: center;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.logo{
    width: 102px;
    height: 40px;
}
.menu01{
    font-family: 'Airbnb Cereal Medium';
    font-size: 16px;
    padding: 16px;
    height: auto;
    color: rgb(34, 34, 34);
}
.menu02{
    font-family: 'Airbnb Cereal Medium';
    font-size: 16px;
    padding: 16px;
    height: auto;
    color: rgb(104, 104, 104);
}
.menu03{
    font-family: 'Airbnb Cereal Medium';
    font-size: 14px;
    padding: 16px;
    height: auto;
    color: rgb(104, 104, 104);
}
.icono{
    width: 16px;
    height: 16px;
}
.search{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 40px;
    margin-top: 20px;
    width: 848px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-bottom: 20px;
}
.columnsearch01{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: flex-start;
    width: 284px;
    
}
.columnsearch02{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: flex-start;
    width: 140px;
    
}
.columnsearch03{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: flex-start;
    width: 140px;
    
}
.searchtitle{
    font-family: 'Airbnb Cereal Medium';
    font-size: 12px;
    padding: 0px;
    height: auto;
    color: rgb(34, 34, 34);
}
.searchsubtitle{
    font-family: 'Airbnb Cereal Regular';
    font-size: 14px;
    padding: 0px;
    height: auto;
    color: rgb(106, 106, 106);
}
.line{
    height: 32px;
    border-right-width: 1px;
    border-right-color: #cccccc;
    border-right-style: solid;
}
.contcard{
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    flex: 1;
    width: auto;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black; 
}
.contcardFIN{
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    flex: 1;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black; 
}
.fotoair{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    aspect-ratio: 1/1;
}
